@value colors: 'Styles/palette.css';
@value neutralColorMedium from colors;

.iconContainer {
  display: inline-flex;
  outline: none;
}

.onClick {
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: currentColor;
    opacity: 0.7;
  }
}

.disabled {
  cursor: auto !important;
  color: neutralColorMedium !important;

  & svg {
    color: neutralColorMedium !important;
  }

  &:hover {
    color: neutralColorMedium !important;
    opacity: 1;

    & svg {
      color: neutralColorMedium !important;
      opacity: 1;
    }
  }
}
