@value colors: 'Styles/palette.css';
@value (
  baseGrayLow
) from colors;

.container {
  display: block;
  height: auto;
  max-width: 100%;
}

.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://s.financesonline.com/media/themes/apps/images/img_placeholder_avatar.jpg"); //placeholder
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.imgCircle {
  border-radius: 50%;
  min-width: 20px;
  background-color: baseGrayLow;
}

.imgResponsive {
  display: block;
  height: auto;
  max-width: 100%;
}
