@value colors: "Styles/palette.css";
@value (
  neutralColorDark,
  neutralColorMedium,
  neutralColorLight,
  darkColor,
) from colors;

@value paddingLeftWithIcon: 40px;
@value paddingLeft: 1rem;
@value borderInput: 2px;

.input {
  position: relative;
}

.input.leftIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & .inputBox {
    padding-left: paddingLeftWithIcon;

    &:focus{
      padding-left: calc(paddingLeftWithIcon - 1px);
    }
  }
}

.input.rightIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & .inputBox {
    padding-right: paddingLeftWithIcon;

    &:focus{
      padding-right: calc(paddingLeftWithIcon - 1px);
    }
  }
}

.likePlaceholder {
  color: neutralColorDark;
}

.lIcon{
  position: absolute;
  left: 20px;
}
.rIcon{
  position: absolute;
  right: 20px;
}

.inputBox {
  width: 100%;
  border-radius: 5px;
  border: solid 0.5px neutralColorMedium;
  height: 45px;
  color: darkColor;
  background-color: neutralColorLight;
  padding-left: paddingLeft;
  box-sizing: border-box;
  transition: 0.2s ease;
  font-size: 12px;

  &::placeholder {
    color: neutralColorDark;
  }

  &:focus {
    border-color: neutralColorDark;
    border-width: borderInput;
    padding-left: calc(paddingLeft - 1px);
  }
}

.inputBox:focus {
  outline: none;
}

.pill {
  border-radius: 20px;
}
