/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato-Regular';
  src: url('/src/styles/fonts/Lato/Lato-Regular.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
  font-family: 'Lato-Bold';
  src: url('/src/styles/fonts/Lato/Lato-Bold.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
@font-face {
  font-family: 'Lato-Light';
  src: url('/src/styles/fonts/Lato/Lato-Light.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'Lato-Semibold';
  src: url('/src/styles/fonts/Lato/Lato-Semibold.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */
@font-face {
  font-family: 'Lato-Thin';
  src: url('/src/styles/fonts/Lato/Lato-Thin.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: FaktPro-Bold */
@font-face {
  font-family: 'FaktPro-Bold';
  src: url('/src/styles/fonts/FaktPro/FaktPro-Bold.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: FaktPro-Hair */
@font-face {
  font-family: 'FaktPro-Hair';
  src: url('/src/styles/fonts/FaktPro/FaktPro-Hair.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: FaktPro-Light */
@font-face {
  font-family: 'FaktPro-Light';
  src: url('/src/styles/fonts/FaktPro/FaktPro-Light.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: FaktPro-Medium */
@font-face {
  font-family: 'FaktPro-Medium';
  src: url('/src/styles/fonts/FaktPro/FaktPro-Medium.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: FaktPro-Normal */
@font-face {
  font-family: 'FaktPro-Normal';
  src: url('/src/styles/fonts/FaktPro/FaktPro-Normal.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: FaktPro-Semibold */
@font-face {
  font-family: 'FaktPro-Semibold';
  src: url('/src/styles/fonts/FaktPro/FaktPro-Semibold.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: FaktPro-Thin */
@font-face {
  font-family: 'FaktPro-Thin';
  src: url('/src/styles/fonts/FaktPro/FaktPro-Thin.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
