.flex {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.userInformation {
  composes: flex;
  width: 60%;
}

.avatar {
  min-width: 50px;
  max-width: 50px;
}

.information {
  display: block;
  text-align: left;
  padding: 0 0 0 1rem;
}

.information h3 {
  margin: 0;
}

.information h4 {
  margin: 5px 0;
}

.cuponInformation {
  display: flex;
  width: 40%;
}

.date {
  composes: flex;
  width: 60%;
}

.date h3 {
  padding-left: 10px;
}

.cupon {
  composes: flex;
  padding: 0 0 0 1rem;
  width: 40%;
}
