.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.userInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
}

.avatar {
  width: 35px;
}

.information {
  display: block;
  text-align: left;
  padding: 0 25px;
}

.cuponInformation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
