@value (
  darkColor,
  mediumNeutral
) from 'Styles/palette.css';

.container {
  border: 1px solid mediumNeutral;
  border-radius: 5px;
  position: relative;

  &:hover {
    opacity: 0.9;
  }
}

.userInformation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.avatar {
  width: 50px;
}

.information {
  display: block;
  text-align: left;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hunterDetails {
  display: flex;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  &:hover{
    background-color: mediumNeutral;
  }
}
