@value colors: 'Styles/palette.css';
@value (
  darkColor,
  primaryColor,
  secondaryColor,
  highlightColor,
  neutralColorDark,
  neutralColorMedium,
  whiteColor,
  pinkRed
) from colors;

.title, .subtitle, .header, .p {
  margin: 0;
}

.p {
  color: darkColor;
}

.label {
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 2px;
}

.highlight {
  color: highlightColor;
}

.secondary {
  color: secondaryColor;
}

.disabled {
  color: neutralColorMedium;
  cursor: not-allowed;
}

.inverted {
  color: whiteColor;
}

.smallText {
  font-size: 13px;
}

.lead {
  font-size: 18px;
}

.normalText {
  font-weight: normal;
  font-family: 'Lato-Regular';
}

.normalFont {
  font-weight: normal;
  font-family: 'FaktPro-Normal';
}

.bold {
  font-weight: bold;
  font-family: 'FaktPro-Bold';
}

.light {
  font-weight: 300;
  font-family: 'FaktPro-Thin';
}

.error {
  color: pinkRed;
}

a {
  font-family: 'FaktPro-Normal';
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FaktPro-Normal';
}
