@value colors: "Styles/palette.css";
@value (
  whiteColor
) from colors;
@value paddingCupon: 10px;
@value borderRadius: 10px;

.container {
  position: relative;
  border-radius: borderRadius;
  cursor: pointer;
  max-width: 400px;
  display: flex;

  &:hover {
    opacity: 0.9;
  }
}

.container::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: whiteColor;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.container::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: whiteColor;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.avatar {
  width: 40px;
}

.brandCampaing {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 0;
  position: relative;
}

.cupons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: paddingCupon 0;
}

.cuponInformation {
  background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/27918/1160/772/m1/fpnw/wm0/4-.jpg?1373985005&s=7b4e80f39154282fa3331d28ecea0ea2');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 80%;
  border-radius: borderRadius;
}

.backgroundPromo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  border-radius: borderRadius;
}

.promo {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: paddingCupon 0;
}

.promoTitle {
  margin: 5px 0 !important;
}

.promo p {
  padding: 0 paddingCupon;
  margin: 0;
}

