.section {
  padding: 20px;
}

.dark {
  background-color: #292D3F;
}

.labelContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.label {
  text-transform: uppercase;
  color: #C8C8CC;
  margin-bottom: 5px;
  font-size: x-small;
}

.color {
  height: 60px;
  width: 250px;
  border: 1px solid #EFEFF4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning {
  color: red !important;
}

.panelContainer {
  padding: 10px;
}

.profile {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.customCard {
  padding: 10px;
  border: 1px solid #EFEFF4;
}

.customHeaderCard {
  background: #c7c7c7;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  & p {
    font-size: 18px;
  }
}

.customContentCard {
  background: #1abc9c !important;
  cursor: pointer;
  & p {
    color: white;
  }

  &:hover {
    background: #3498db !important;
  }
}

.tableCustom {
  width: 50%;

  & thead {
    background: black;
  }

  & tbody {

    & tr{
      &:hover {
        background-color: #ff4a67;
      }
    }
  }
}

