@value colors: "Styles/palette.css";
@value (
  neutralColorPlain
) from colors;

.container {
  position: relative;
}

.line {
  position: absolute;
  border: 0.1rem solid neutralColorPlain;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: 0;
  box-sizing: border-box;
}
.components{
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.description {
  margin-top: 4px;
}