@value palette: "Styles/palette.css";
@value (
  darkColor,
  neutralColorMedium
) from palette;

.headerBar{
  color: darkColor;
  background-color: neutralColorMedium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.subtitle {
  margin-top: 2px;
}