
@value colors: "Styles/palette.css";
@value (
  silverColor,
  lightNeutral
) from colors;

.container {
  padding: 10px;
  cursor: pointer;
  border: 1px solid silverColor;
  border-radius: 7px;
  background: lightNeutral;
  &:hover {
    opacity: 0.6;
  }
}
.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3.8rem;
}
.coupons {
  display: flex;
  margin-top: 5px;
  width: 7rem;
  justify-content: space-between;
}
.hunted {
  display: flex;
}
.available {
  display: flex;
}
.selected{
  background: silverColor;
}
